<!Doctype html>
<html style="height:100%" lang="zh-cn">

<head>
    <meta name="renderer" content="webkit">
    <meta name="google" value="notranslate">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link id="icon" rel="icon" href="<%= BASE_URL %>static/img/FESCOicon.ico">
    <link rel="stylesheet" href="<%= BASE_URL %>static/css/reset.css">
    <script src="<%= BASE_URL %>static/js/jquery-1.10.2.min.js"></script>
    <script src="<%= BASE_URL %>configure/config.js"></script>
    <style>
        body > div > #Login {
            padding-left: 49%;
            text-align: center;
        }
        #Login .el-dialog__header{
            border-bottom: 1px solid #D2D2D7;
        }
    </style>
</head>
<body style="height:100%">
<div id="loginBox" style="height:100%;background: url('<%= BASE_URL %>static/img/bg.jpg') ; background-repeat: no-repeat;background-size: 49% 100%">
    <img src="<%= BASE_URL %>static/img/logo.svg" alt="" style="position: absolute;top:32px;left:32px; ">
    <div id="ieit11" style="display: none">
        <a id="chromeDownPath" href="" download=""
           style="color: #75787B; text-decoration: none;">建议使用谷歌浏览器（下载）</a>&nbsp;
        <a id="compatibleIE" href="" download=""
           style="color: #75787B; text-decoration: none;">IE8、IE9兼容插件（下载）</a>
    </div>
    <div id="Login" style="height: 100%"></div>
</div>

</body>


</html>
