<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="google" value="notranslate">
    <link rel="stylesheet" href="<%= BASE_URL %>vendor/fontAwesome/css/font-awesome.css">
    <script src="<%= BASE_URL %>static/js/jquery-1.10.2.min.js"></script>
    <script src="<%= BASE_URL %>vendor/ace/ace.js"></script>
    <script src="<%= BASE_URL %>vendor/scrollbar/perfect-scrollbar.js"></script>
    <script src="<%= BASE_URL %>static/requirejs/require.debug.js"></script>
    <style>
        fieldset {
            border: none;
        }
    </style>
</head>

<body>
<div id="editor"></div>
</body>

</html>