.formBox {
    padding: 20px 10px;
    width: 100%;
}

.formItem {
    margin-bottom: 10px;
}

.form-item__label label {
    font-size: 16px;
    padding: 0;
    width: 120px;
    height: 36px;
    line-height: 36px;
    text-align: right;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.formItem__prepend {
    min-width: 15px;
    display: inline-block;
    text-align: center;
}