@font-face {
  font-family: 'element-icons';
  src: url('./fonts/element-icons.woff?t=1472440741') format('woff'), /* chrome, firefox */
    url('./fonts/element-icons.ttf?t=1472440741') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'el-icon-ifbp';
  src: url('./fonts/el-icon-ifbp.woff?t=1472440741') format('woff'), /* chrome, firefox */
  url('./fonts/el-icon-ifbp.ttf?t=1472440741') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  font-weight: normal;
  font-style: normal;
}

@font-face {
font-family: 'ifbp-icons';
src: url('./fonts/ifbp.woff?t=1472440741') format('woff'), /* chrome, firefox */
     url('./fonts/ifbp.ttf?t=1472440741') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
font-weight: normal;
font-style: normal;
}

/* [class^="el-icon-"], [class*=" el-icon-"] {
  font-family: 'element-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* .el-icon-arrow-down:before { content: "\e600"; }
.el-icon-arrow-left:before { content: "\e601"; }
.el-icon-arrow-right:before { content: "\e602"; }
.el-icon-arrow-up:before { content: "\e603"; }
.el-icon-caret-bottom:before { content: "\e604"; }
.el-icon-caret-left:before { content: "\e605"; }
.el-icon-caret-right:before { content: "\e606"; }
.el-icon-caret-top:before { content: "\e607"; }
.el-icon-check:before { content: "\e608"; }
.el-icon-circle-check:before { content: "\e609"; }
.el-icon-circle-close:before { content: "\e60a"; }
.el-icon-circle-cross:before { content: "\e60b"; }
.el-icon-close:before { content: "\e60c"; }
.el-icon-upload:before { content: "\e60d"; }
.el-icon-d-arrow-left:before { content: "\e60e"; }
.el-icon-d-arrow-right:before { content: "\e60f"; }
.el-icon-d-caret:before { content: "\e610"; }
.el-icon-date:before { content: "\e611"; }
.el-icon-delete:before { content: "\e612"; }
.el-icon-document:before { content: "\e613"; }
.el-icon-edit:before { content: "\e614"; }
.el-icon-information:before { content: "\e615"; }
.el-icon-loading:before { content: "\e616"; }
.el-icon-menu:before { content: "\e617"; }
.el-icon-message:before { content: "\e618"; }
.el-icon-minus:before { content: "\e619"; }
.el-icon-more:before { content: "\e61a"; }
.el-icon-picture:before { content: "\e61b"; }
.el-icon-plus:before { content: "\e61c"; }
.el-icon-search:before { content: "\e61d"; }
.el-icon-setting:before { content: "\e61e"; }
.el-icon-share:before { content: "\e61f"; }
.el-icon-star-off:before { content: "\e620"; }
.el-icon-star-on:before { content: "\e621"; }
.el-icon-time:before { content: "\e622"; }
.el-icon-warning:before { content: "\e623"; }
.el-icon-delete2:before { content: "\e624"; }
.el-icon-upload2:before { content: "\e627"; }
.el-icon-view:before { content: "\e626"; }

.el-icon-loading {
animation: rotating 1s linear infinite;
}

.el-icon--right {
margin-left: 5px;
}
.el-icon--left {
margin-right: 5px;
}

@keyframes rotating {
0% {
  transform: rotateZ(0deg);
}
100% {
  transform: rotateZ(360deg);
}
} */
/* [class^="el-icon-pt"], [class*=" el-icon-pt"] {
font-family: "el-icon-ifbp"!important;
font-size: inherit;
font-style:normal;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
.el-icon-pt-bangzhu:before { content: "\e7ae"; }

.el-icon-pt-baobiao:before { content: "\e7af"; }

.el-icon-pt-bangzhu-xian:before { content: "\e7b0"; }

.el-icon-pt-bingtu:before { content: "\e7b1"; }

.el-icon-pt-bianji:before { content: "\e7b2"; }

.el-icon-pt-biaopan:before { content: "\e7b3"; }

.el-icon-pt-canshu:before { content: "\e7b4"; }

.el-icon-pt-chenggong:before { content: "\e7b5"; }

.el-icon-pt-cuowu-xiankuang:before { content: "\e7b6"; }

.el-icon-pt-chakan:before { content: "\e7b7"; }

.el-icon-pt-daochu:before { content: "\e7b8"; }

.el-icon-pt-cuowu:before { content: "\e7b9"; }

.el-icon-pt-daohang-xiaoxi:before { content: "\e7ba"; }

.el-icon-pt-daohang-yonghu:before { content: "\e7bb"; }

.el-icon-pt-duihua:before { content: "\e7bc"; }

.el-icon-pt-daohang-logo:before { content: "\e7bd"; }

.el-icon-pt-duihuakuang:before { content: "\e7be"; }

.el-icon-pt-dunpai:before { content: "\e7bf"; }

.el-icon-pt-daoru:before { content: "\e7c0"; }

.el-icon-pt-fabu:before { content: "\e7c1"; }

.el-icon-pt-fanshenpi:before { content: "\e7c2"; }

.el-icon-pt-fangda:before { content: "\e7c3"; }

.el-icon-pt-fenxiang:before { content: "\e7c4"; }

.el-icon-pt-fenlei:before { content: "\e7c5"; }

.el-icon-pt-fenlei1:before { content: "\e7c6"; }

.el-icon-pt-gengduo:before { content: "\e7c7"; }

.el-icon-pt-gongwenbao:before { content: "\e7c8"; }

.el-icon-pt-guanbi:before { content: "\e7c9"; }

.el-icon-pt-gouwuche:before { content: "\e7ca"; }

.el-icon-pt-jiantoushang:before { content: "\e7cb"; }

.el-icon-pt-guanxitu:before { content: "\e7cc"; }

.el-icon-pt-jiantouyou:before { content: "\e7cd"; }

.el-icon-pt-jiantouxia:before { content: "\e7ce"; }

.el-icon-pt-jiantoushang1:before { content: "\e7cf"; }

.el-icon-pt-jiazai:before { content: "\e7d0"; }

.el-icon-pt-jiantouxia1:before { content: "\e7d1"; }

.el-icon-pt-jiantouyou1:before { content: "\e7d2"; }

.el-icon-pt-jinggao-xiankuang:before { content: "\e7d3"; }

.el-icon-pt-mima:before { content: "\e7d4"; }

.el-icon-pt-qidong:before { content: "\e7d5"; }

.el-icon-pt-quanping:before { content: "\e7d6"; }

.el-icon-pt-jinggao:before { content: "\e7d7"; }

.el-icon-pt-leimu:before { content: "\e7d8"; }

.el-icon-pt-shanchu:before { content: "\e7d9"; }

.el-icon-pt-riqi:before { content: "\e7da"; }

.el-icon-pt-shangchuan:before { content: "\e7db"; }

.el-icon-pt-shezhi:before { content: "\e7dc"; }

.el-icon-pt-shenpi:before { content: "\e7dd"; }

.el-icon-pt-shijian:before { content: "\e7de"; }

.el-icon-pt-shouye:before { content: "\e7df"; }

.el-icon-pt-shoucang:before { content: "\e7e0"; }

.el-icon-pt-shuoming:before { content: "\e7e1"; }

.el-icon-pt-shuaxin:before { content: "\e7e2"; }

.el-icon-pt-sousuo:before { content: "\e7e3"; }

.el-icon-pt-tianjia:before { content: "\e7e4"; }

.el-icon-pt-shuoming-xiankuang:before { content: "\e7e5"; }

.el-icon-pt-tupian:before { content: "\e7e6"; }

.el-icon-pt-xiazai:before { content: "\e7e7"; }

.el-icon-pt-yinhangqia:before { content: "\e7e8"; }

.el-icon-pt-tuichu:before { content: "\e7e9"; }

.el-icon-pt-yibiaopan:before { content: "\e7ea"; }

.el-icon-pt-youjian:before { content: "\e7ec"; }

.el-icon-pt-zanting:before { content: "\e7ed"; }

.el-icon-pt-yunshangchuan:before { content: "\e7ee"; }

.el-icon-pt-zhengque-xiankuang:before { content: "\e7ef"; }

.el-icon-pt-zhuanchu:before { content: "\e7f0"; }

.el-icon-pt-zhengque:before { content: "\e7f1"; }

.el-icon-pt-zuobiao:before { content: "\e7f2"; }

.el-icon-pt-logo:before { content: "\e7f3"; }

.el-icon-pt-fujian:before { content: "\e7f4"; }

.el-icon-pt-fuxuan:before { content: "\e7f5"; }

.el-icon-pt-danxuan:before { content: "\e7f6"; }

.el-icon-pt-fuxuan-xuanzhong:before { content: "\e7f7"; }

.el-icon-pt-danxuan-xuanzhong:before { content: "\e7f8"; }

.el-icon-pt-fuxuan-weiquanxuan:before { content: "\e7f9"; }

.el-icon-pt-shouji:before { content: "\e7fa"; }

.el-icon-pt-dianhua:before { content: "\e7fb"; }

.el-icon-pt-yonghu1:before { content: "\e7fc"; } */

[class^="el-icon-"], [class*=" el-icon-"] {
/* use !important to prevent issues with browser extensions that change fonts */
font-family: 'ifbp-icons', 'element-icons', 'el-icon-ifbp' !important;
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;
vertical-align: baseline;
display: inline-block;
font-size: 18px;

/* Better Font Rendering =========== */
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}



/* origin to replace */
.el-icon-arrow-down:before { content: "\e900"; }
.el-icon-arrow-left:before { content: "\e901"; }
.el-icon-arrow-right:before { content: "\e902"; }
.el-icon-arrow-up:before { content: "\e903"; }
.el-icon-caret-bottom:before { content: "\e905"; }
.el-icon-caret-left { transform: rotate(90deg); }
.el-icon-caret-left:before { content: "\e905"; }
.el-icon-caret-right { transform: rotate(-90deg); }
.el-icon-caret-right:before { content: "\e905"; }
.el-icon-caret-top:before { content: "\e906"; }
.el-icon-check:before { content: "\e918"; }
.el-icon-circle-check:before { content: "\e93e"; }
.el-icon-circle-close:before { content: "\e932"; }
.el-icon-circle-cross:before { content: "\e932"; }
.el-icon-close:before { content: "\e919"; }
.el-icon-upload:before { content: "\e93f"; }
.el-icon-d-arrow-left:before { content: "\e60e"; }
.el-icon-d-arrow-right:before { content: "\e60f"; }
.el-icon-d-caret:before { content: "\e907"; }
.el-icon-date:before { content: "\e91d"; }
.el-icon-delete:before { content: "\e91e"; }
.el-icon-document:before { content: "\e92f"; }
.el-icon-edit:before { content: "\e91c"; }
.el-icon-information:before { content: "\e925"; }
.el-icon-loading:before { content: "\e616"; }

.el-icon-loading {
animation: rotating 1s linear infinite;
}

.el-icon-menu:before { content: "\e929"; }
.el-icon-message:before { content: "\e92a"; }
.el-icon-minus:before { content: "\e92b"; }
.el-icon-more:before { content: "\e92c"; }
.el-icon-picture:before { content: "\e930"; }
.el-icon-plus:before { content: "\e931"; }
.el-icon-search:before { content: "\e937"; }
.el-icon-setting:before { content: "\e939"; }
.el-icon-share:before { content: "\e93a"; }
.el-icon-star-off:before { content: "\e93c"; }
.el-icon-star-on:before { content: "\e93d"; }
.el-icon-time:before { content: "\e943"; }
.el-icon-warning:before { content: "\e942"; }
.el-icon-delete2:before { content: "\e624"; }
.el-icon-upload2:before { content: "\e627"; }
.el-icon-view:before { content: "\e941"; }


.el-icon-pt-bangzhu:before { content: "\e7ae"; }

.el-icon-pt-baobiao:before { content: "\e7af"; }

.el-icon-pt-bangzhu-xian:before { content: "\e7b0"; }

.el-icon-pt-bingtu:before { content: "\e7b1"; }

.el-icon-pt-bianji:before { content: "\e7b2"; }

.el-icon-pt-biaopan:before { content: "\e7b3"; }

.el-icon-pt-canshu:before { content: "\e7b4"; }

.el-icon-pt-chenggong:before { content: "\e7b5"; }

.el-icon-pt-cuowu-xiankuang:before { content: "\e7b6"; }

.el-icon-pt-chakan:before { content: "\e7b7"; }

.el-icon-pt-daochu:before { content: "\e7b8"; }

.el-icon-pt-cuowu:before { content: "\e7b9"; }

.el-icon-pt-daohang-xiaoxi:before { content: "\e92a"; }

.el-icon-pt-daohang-yonghu:before { content: "\e912"; }

.el-icon-pt-duihua:before { content: "\e7bc"; }

.el-icon-pt-daohang-logo:before { content: "\e7bd"; }

.el-icon-pt-duihuakuang:before { content: "\e7be"; }

.el-icon-pt-dunpai:before { content: "\e7bf"; }

.el-icon-pt-daoru:before { content: "\e7c0"; }

.el-icon-pt-fabu:before { content: "\e934"; }

.el-icon-pt-fanshenpi:before { content: "\e7c2"; }

.el-icon-pt-fangda:before { content: "\e7c3"; }

.el-icon-pt-fenxiang:before { content: "\e93a"; }

.el-icon-pt-fenlei:before { content: "\e911"; }

.el-icon-pt-fenlei1:before { content: "\e910"; }

.el-icon-pt-gengduo:before { content: "\e92c"; }

.el-icon-pt-gongwenbao:before { content: "\e7c8"; }

.el-icon-pt-guanbi:before { content: "\e919"; }

.el-icon-pt-gouwuche:before { content: "\e7ca"; }

.el-icon-pt-jiantoushang:before { content: "\e903"; }

.el-icon-pt-guanxitu:before { content: "\e7cc"; }

.el-icon-pt-jiantouyou:before { content: "\e902"; }

.el-icon-pt-jiantouxia:before { content: "\e900"; }

.el-icon-pt-jiantoushang1:before { content: "\e906"; }

.el-icon-pt-jiazai:before { content: "\e7d0"; }

.el-icon-pt-jiantouxia1:before { content: "\e905"; }

.el-icon-pt-jiantouyou1 { transform: rotate(-90deg); }
.el-icon-pt-jiantouyou1:before { content: "\e905"; }

.el-icon-pt-jinggao-xiankuang:before { content: "\e7d3"; }

.el-icon-pt-mima:before { content: "\e928"; }

.el-icon-pt-qidong:before { content: "\e7d5"; }

.el-icon-pt-quanping:before { content: "\e7d6"; }

.el-icon-pt-jinggao:before { content: "\e942"; }

.el-icon-pt-leimu:before { content: "\e914"; }

.el-icon-pt-shanchu:before { content: "\e91e"; }

.el-icon-pt-riqi:before { content: "\e91d"; }

.el-icon-pt-shangchuan:before { content: "\e93f"; }

.el-icon-pt-shezhi:before { content: "\e939"; }

.el-icon-pt-shenpi:before { content: "\e7dd"; }

.el-icon-pt-shijian:before { content: "\e7de"; }

.el-icon-pt-shouye:before { content: "\e924"; }

.el-icon-pt-shoucang:before { content: "\e93c"; }

.el-icon-pt-shuoming:before { content: "\e7e1"; }

.el-icon-pt-shuaxin:before { content: "\e935"; }

.el-icon-pt-sousuo:before { content: "\e937"; }

.el-icon-pt-tianjia:before { content: "\e91c"; }

.el-icon-pt-shuoming-xiankuang:before { content: "\e7e5"; }

.el-icon-pt-tupian:before { content: "\e930"; }

.el-icon-pt-xiazai:before { content: "\e91a"; }

.el-icon-pt-yinhangqia:before { content: "\e7e8"; }

.el-icon-pt-tuichu:before { content: "\e933"; }

.el-icon-pt-yibiaopan:before { content: "\e7ea"; }

.el-icon-pt-youjian:before { content: "\e921"; }

.el-icon-pt-zanting:before { content: "\e7ed"; }

.el-icon-pt-yunshangchuan:before { content: "\e7ee"; }

.el-icon-pt-zhengque-xiankuang:before { content: "\e7ef"; }

.el-icon-pt-zhuanchu:before { content: "\e7f0"; }

.el-icon-pt-zhengque:before { content: "\e7f1"; }

.el-icon-pt-zuobiao:before { content: "\e7f2"; }

.el-icon-pt-logo:before { content: "\e7f3"; }

.el-icon-pt-fujian:before { content: "\e7f4"; }

.el-icon-pt-fuxuan:before { content: "\e7f5"; }

.el-icon-pt-danxuan:before { content: "\e7f6"; }

.el-icon-pt-fuxuan-xuanzhong:before { content: "\e7f7"; }

.el-icon-pt-danxuan-xuanzhong:before { content: "\e7f8"; }

.el-icon-pt-fuxuan-weiquanxuan:before { content: "\e7f9"; }

.el-icon-pt-shouji:before { content: "\e7fa"; }

.el-icon-pt-dianhua:before { content: "\e927"; }

.el-icon-pt-yonghu1:before { content: "\e90e"; }

@keyframes rotating {
0% {
  transform: rotateZ(0deg);
}
100% {
  transform: rotateZ(360deg);
}
}


[class^="ifbp-icon-"], [class*=" ifbp-icon-"] {
/* use !important to prevent issues with browser extensions that change fonts */
font-family: 'ifbp-icons' !important;
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
/* line-height: 1; */
vertical-align: baseline;
display: inline-block;
font-size: 18px;

/* Better Font Rendering =========== */
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

/*icon-class*/
.ifbp-icon-angle-down:before {
content: "\e900";
}
.ifbp-icon-angle-left:before {
content: "\e901";
}
.ifbp-icon-angle-right:before {
content: "\e902";
}
.ifbp-icon-angle-up:before {
content: "\e903";
}
.ifbp-icon-arrow-back:before {
content: "\e904";
}
.ifbp-icon-caret-down:before {
content: "\e905";
}
.ifbp-icon-caret-up:before {
content: "\e906";
}

.ifbp-icon-caret-left { transform: rotate(90deg); }
.ifbp-icon-caret-left:before { content: "\e905"; }
.ifbp-icon-caret-right { transform: rotate(-90deg); }
.ifbp-icon-caret-right:before { content: "\e905"; }

.ifbp-icon-caret:before {
content: "\e907";
}
.ifbp-icon-exchange-solid:before {
content: "\e908";
}
.ifbp-icon-folder:before {
content: "\e909";
}
.ifbp-icon-doc:before {
content: "\e90a";
}
.ifbp-icon-key:before {
content: "\e90b";
}
.ifbp-icon-linear-scale:before {
content: "\e90c";
}
.ifbp-icon-lock-open:before {
content: "\e90d";
}
.ifbp-icon-person:before {
content: "\e90e";
}
.ifbp-icon-print:before {
content: "\e90f";
}
.ifbp-icon-view-headline:before {
content: "\e910";
}
.ifbp-icon-view-module:before {
content: "\e911";
}
.ifbp-icon-account:before {
content: "\e912";
}
.ifbp-icon-add:before {
content: "\e913";
}
.ifbp-icon-apps:before {
content: "\e914";
}
.ifbp-icon-brush:before {
content: "\e915";
}
.ifbp-icon-call-made:before {
content: "\e916";
}
.ifbp-icon-camera:before {
content: "\e917";
}
.ifbp-icon-check:before {
content: "\e918";
}
.ifbp-icon-close:before {
content: "\e919";
}
.ifbp-icon-clouddownload:before {
content: "\e91a";
}
.ifbp-icon-copy:before {
content: "\e91b";
}
.ifbp-icon-create-square:before {
content: "\e91c";
}
.ifbp-icon-date:before {
content: "\e91d";
}
.ifbp-icon-delete:before {
content: "\e91e";
}
.ifbp-icon-download:before {
content: "\e91f";
}
.ifbp-icon-edit:before {
content: "\e920";
}
.ifbp-icon-email:before {
content: "\e921";
}
.ifbp-icon-explore:before {
content: "\e922";
}
.ifbp-icon-filter:before {
content: "\e923";
}
.ifbp-icon-home:before {
content: "\e924";
}
.ifbp-icon-information:before {
content: "\e925";
}
.ifbp-icon-keyboard_voice:before {
content: "\e926";
}
.ifbp-icon-local_phone:before {
content: "\e927";
}
.ifbp-icon-lock:before {
content: "\e928";
}
.ifbp-icon-menu:before {
content: "\e929";
}
.ifbp-icon-message:before {
content: "\e92a";
}
.ifbp-icon-minus:before {
content: "\e92b";
}
.ifbp-icon-more:before {
content: "\e92c";
}
.ifbp-icon-notifications:before {
content: "\e92d";
}
.ifbp-icon-page-empty:before {
content: "\e92e";
}
.ifbp-icon-page:before {
content: "\e92f";
}
.ifbp-icon-picture:before {
content: "\e930";
}
.ifbp-icon-plus-square:before {
content: "\e931";
}
.ifbp-icon-power-off:before {
content: "\e932";
}
.ifbp-icon-power:before {
content: "\e933";
}
.ifbp-icon-publish:before {
content: "\e934";
}
.ifbp-icon-refresh:before {
content: "\e935";
}
.ifbp-icon-save:before {
content: "\e936";
}
.ifbp-icon-search:before {
content: "\e937";
}
.ifbp-icon-send:before {
content: "\e938";
}
.ifbp-icon-setting:before {
content: "\e939";
}
.ifbp-icon-share:before {
content: "\e93a";
}
.ifbp-icon-sharing:before {
content: "\e93b";
}
.ifbp-icon-star-off:before {
content: "\e93c";
}
.ifbp-icon-star-on:before {
content: "\e93d";
}
.ifbp-icon-success:before {
content: "\e93e";
}
.ifbp-icon-upload:before {
content: "\e93f";
}
.ifbp-icon-videocam:before {
content: "\e940";
}
.ifbp-icon-view:before {
content: "\e941";
}
.ifbp-icon-warning:before {
content: "\e942";
}
.ifbp-icon-watch:before {
content: "\e943";
}
.ifbp-icon-zoomout:before {
content: "\e944";
}
.ifbp-icon-xls:before {
content: "\e945";
}
.ifbp-icon-ppt:before {
content: "\e946";
}
.ifbp-icon-txt:before {
content: "\e947";
}
.ifbp-icon-unknown:before {
content: "\e948";
}
.ifbp-icon-pdf:before {
content: "\e949";
}
.ifbp-icon-music:before {
content: "\e94a";
}
.ifbp-icon-zip:before {
content: "\e94b";
}
.ifbp-icon-view-quilt:before {
content: "\e94c";
}
.ifbp-icon-approve:before {
content: "\e94d";
}
.ifbp-icon-in-approve:before {
content: "\e94e";
}
.ifbp-icon-history:before {
content: "\e94f";
}
.ifbp-icon-people:before {
content: "\e950";
}
.ifbp-icon-accounts:before {
content: "\e951";
}
.ifbp-icon-assignment-ind:before {
content: "\e952";
}
.ifbp-icon-assignment:before {
content: "\e953";
}
.ifbp-icon-contract:before {
content: "\e954";
}
.ifbp-icon-description:before {
content: "\e955";
}
.ifbp-icon-exit-to-app:before {
content: "\e956";
}
.ifbp-icon-find-in-page:before {
content: "\e957";
}
.ifbp-icon-folder-shared:before {
content: "\e958";
}
.ifbp-icon-grant:before {
content: "\e959";
}
.ifbp-icon-organization:before {
content: "\e95a";
}
.ifbp-icon-payroll:before {
content: "\e95b";
}
.ifbp-icon-calculator:before {
content: "\e95c";
}
.ifbp-icon-duty:before {
content: "\e95d";
}
.ifbp-icon-recent-actors:before {
content: "\e95e";
}
.ifbp-icon-salary:before {
content: "\e95f";
}
.ifbp-icon-settings-applications:before {
content: "\e960";
}
.ifbp-icon-swap-horiz:before {
content: "\e961";
}
.ifbp-icon-wage-increase:before {
content: "\e962";
}
.ifbp-icon-sort:before {
content: "\e963";
}
.ifbp-icon-attachment:before {
content: "\e964";
}
.ifbp-icon-cloud:before {
content: "\e965";
}
.ifbp-icon-emoticon:before {
content: "\e966";
}
.ifbp-icon-place:before {
content: "\e967";
}
.ifbp-icon-scan:before {
content: "\e968";
}
.ifbp-icon-star_half:before {
content: "\e969";
}
.ifbp-icon-thumb_up:before {
content: "\e96a";
}
.ifbp-icon-work:before {
content: "\e96b";
}
.ifbp-icon-person_add:before {
content: "\e96c";
}
.ifbp-icon-group_add:before {
content: "\e96d";
}
.ifbp-icon-advance-payment:before {
content: "\e96e";
}
.ifbp-icon-business-reporting:before {
content: "\e96f";
}
.ifbp-icon-pause:before {
content: "\e970";
}
.ifbp-icon-general-expenses:before {
content: "\e971";
}
.ifbp-icon-image-worktable:before {
content: "\e972";
}
.ifbp-icon-job-management-worktable:before {
content: "\e973";
}
.ifbp-icon-job-worktable:before {
content: "\e974";
}
.ifbp-icon-merchants-reimbursement:before {
content: "\e975";
}
.ifbp-icon-stop:before {
content: "\e976";
}
.ifbp-icon-performance-analysis:before {
content: "\e977";
}
.ifbp-icon-rembursement:before {
content: "\e978";
}
.ifbp-icon-performance-worktable:before {
content: "\e979";
}
.ifbp-icon-travel-reimbursement:before {
content: "\e97a";
}
.ifbp-icon-travel-application:before {
content: "\e97b";
}
.ifbp-icon-travel-to-borrow:before {
content: "\e97c";
}
.ifbp-icon-through-examination-and-approval:before {
content: "\e97d";
}
.ifbp-icon-reject:before {
content: "\e97e";
}
.ifbp-icon-have-to-pay:before {
content: "\e97f";
}
.ifbp-icon-redo:before {
content: "\e980";
}
.ifbp-icon-signed:before {
content: "\e981";
}
.ifbp-icon-settlement-success:before {
content: "\e982";
}
.ifbp-icon-business:before {
content: "\e983";
}
.ifbp-icon-developer-board:before {
content: "\e984";
}
.ifbp-icon-library-add:before {
content: "\e985";
}
.ifbp-icon-multi-file:before {
content: "\e986";
}
.ifbp-icon-patch:before {
content: "\e987";
}
.ifbp-icon-person-cancel:before {
content: "\e988";
}
.ifbp-icon-query-template:before {
content: "\e989";
}
.ifbp-icon-restore:before {
content: "\e98a";
}
.ifbp-icon-save-alt:before {
content: "\e98b";
}
.ifbp-icon-supervised-user:before {
content: "\e98c";
}
.ifbp-icon-UI-template-management:before {
content: "\e98d";
}
.ifbp-icon-web:before {
content: "\e98e";
}
.ifbp-icon-baseline-check_box:before {
content: "\e98f";
}
.ifbp-icon-check_circle_outline:before {
content: "\e990";
}
.ifbp-icon-highlight_off:before {
content: "\e991";
}
.ifbp-icon-equalizer:before {
content: "\e992";
}
.ifbp-icon-receipt:before {
content: "\e993";
}
.ifbp-icon-visibility:before {
content: "\e994";
}
.ifbp-icon-extension:before {
content: "\e995";
}
.ifbp-icon-personnel-allotment:before {
content: "\e996";
}
.ifbp-icon-personnel-management:before {
content: "\e997";
}
.ifbp-icon-up:before {
content: "\e998";
}
.ifbp-icon-down:before {
content: "\e999";
}
.ifbp-icon-left:before {
content: "\e99a";
}
.ifbp-icon-right:before {
content: "\e99b";
}
.ifbp-icon-bottom:before {
content: "\e99c";
}
.ifbp-icon-ascending:before {
content: "\e99d";
}
.ifbp-icon-descending:before {
content: "\e99e";
}
.ifbp-icon-attach-file:before {
content: "\e99f";
}
.ifbp-icon-error-outline:before {
content: "\e9a0";
}
.ifbp-icon-roster-design:before {
content: "\e9a1";
}
.ifbp-icon-undo:before {
content: "\e9a2";
}
.ifbp-icon-accident:before {
content: "\e9a4";
}
.ifbp-icon-bonus--allocation:before {
content: "\e9a5";
}
.ifbp-icon-chart:before {
content: "\e9a7";
}
.ifbp-icon-checking-in:before {
content: "\e9a8";
}
.ifbp-icon-commonality:before {
content: "\e9a9";
}
.ifbp-icon-demotion:before {
content: "\e9aa";
}
.ifbp-icon-flag:before {
content: "\e9ad";
}
.ifbp-icon-formula:before {
content: "\e9ae";
}
.ifbp-icon-gavel:before {
content: "\e9af";
}
.ifbp-icon-layers:before {
content: "\e9b0";
}
.ifbp-icon-leader:before {
content: "\e9b1";
}
.ifbp-icon-party:before {
content: "\e9b2";
}
.ifbp-icon-position-sequence:before {
content: "\e9b3";
}
.ifbp-icon-rank:before {
content: "\e9b4";
}
.ifbp-icon-retired:before {
content: "\e9b5";
}
.ifbp-icon-takeoff:before {
content: "\e9b6";
}
.ifbp-icon-tax:before {
content: "\e9b7";
}
.ifbp-icon-train:before {
content: "\e9b8";
}
.ifbp-icon-transfer:before {
content: "\e9b9";
}
.ifbp-icon-unarchive:before {
content: "\e9ba";
}
.ifbp-icon-valirem:before {
content: "\e9bb";
}
.ifbp-icon-welfare:before {
content: "\e9bc";
}
.ifbp-icon-work-shift:before {
content: "\e9bd";
}
.ifbp-icon-description-lock:before {
content: "\e9ab";
}
.ifbp-icon-official-rank:before {
content: "\e9ac";
}
.ifbp-icon-business-center:before {
content: "\e9a3";
}
.ifbp-icon-account-box:before {
content: "\e9a6";
}
.ifbp-icon-intelligent-answer:before {
content: "\e9be";
}
.ifbp-icon-tune:before {
content: "\e9bf";
}
.ifbp-icon-credit-card:before {
content: "\e9c0";
}
.ifbp-icon-have-been-hung-up:before {
content: "\e9c1";
}
.ifbp-icon-playlist-add:before {
content: "\e9c2";
}
.ifbp-icon-remove-shopping-cart:before {
content: "\e9c3";
}
.ifbp-icon-shopping-cart:before {
content: "\e9c4";
}
.ifbp-icon-cancel-signature:before {
content: "\e9c5";
}
.ifbp-icon-signature:before {
content: "\e9c6";
}
/* 2018-08-14 10:52:08 */
.ifbp-icon-arrow_retract:before {
content: "\e9c7";
}
.ifbp-icon-arrow_expand:before {
content: "\e9c8";
}
.ifbp-icon-toggle-on:before {
content: "\e9c9";
}
.ifbp-icon-toggle-off:before {
content: "\e9ca";
}
.ifbp-icon-colorize:before {
content: "\e9cb";
}
.ifbp-icon-help:before {
content: "\e9cc";
}
.ifbp-icon-NC:before {
content: "\e9cd";
}
.ifbp-icon-format-indent-decrease:before {
content: "\e9ce";
}
.ifbp-icon-format-indent-increase:before {
content: "\e9cf";
}

.ifbp-icon-Annex-management:before {
content: "\e9d0";
}
.ifbp-icon-Assign-users-to-roles:before {
content: "\e9d1";
}
.ifbp-icon-Application-page:before {
content: "\e9d2";
}
.ifbp-icon-Business-log:before {
content: "\e9d3";
}
.ifbp-icon-business-model-management:before {
content: "\e9d4";
}
.ifbp-icon-Coding-rule-management:before {
content: "\e9d5";
}
.ifbp-icon-Custom-files:before {
content: "\e9d6";
}
.ifbp-icon-customer-management:before {
content: "\e9d7";
}
.ifbp-icon-dashboard-managment:before {
content: "\e9d8";
}
.ifbp-icon-Data-permissions:before {
content: "\e9d9";
}
.ifbp-icon-Display-panel:before {
content: "\e9da";
}
.ifbp-icon-Employee-management:before {
content: "\e9db";
}
.ifbp-icon-Field-of-magnetic-paste:before {
content: "\e9dc";
}
.ifbp-icon-IFBP-demonstration:before {
content: "\e9dd";
}
.ifbp-icon-favorite-border:before {
content: "\e9de";
}
.ifbp-icon-make-dashboard:before {
content: "\e9e1";
}
.ifbp-icon-Message-template-management:before {
content: "\e9e2";
}
.ifbp-icon-metadata-management:before {
content: "\e9e3";
}
.ifbp-icon-OVP-development:before {
content: "\e9e4";
}
.ifbp-icon-OVP-exhibition:before {
content: "\e9e5";
}
.ifbp-icon-Model-view:before {
content: "\e9e6";
}
.ifbp-icon-Topological-graph:before {
content: "\e9e7";
}
.ifbp-icon-Page-customization:before {
content: "\e9e8";
}
.ifbp-icon-Parameter-configuration:before {
content: "\e9e9";
}
.ifbp-icon-Parameter-management:before {
content: "\e9ea";
}
.ifbp-icon-patch-authorization:before {
content: "\e9eb";
}
.ifbp-icon-Personalized-customization:before {
content: "\e9ec";
}
.ifbp-icon-Process-agent-settings:before {
content: "\e9ed";
}
.ifbp-icon-Process-monitoring:before {
content: "\e9ee";
}
.ifbp-icon-Role-management:before {
content: "\e9ef";
}
.ifbp-icon-Scheduling-task:before {
content: "\e9f0";
}
.ifbp-icon-Script-upgrade:before {
content: "\e9f1";
}
.ifbp-icon-security-log:before {
content: "\e9f2";
}
.ifbp-icon-service:before {
content: "\e9f3";
}
.ifbp-icon-Supplier-management:before {
content: "\e9f4";
}
.ifbp-icon-Task-log:before {
content: "\e9f5";
}
.ifbp-icon-Template-management:before {
content: "\e9f6";
}
.ifbp-icon-Track:before {
content: "\e9f7";
}
.ifbp-icon-widgets-authorization:before {
content: "\e9f8";
}
.ifbp-icon-widgets-management:before {
content: "\e9f9";
}
.ifbp-icon-workbench-layout:before {
content: "\e9fa";
}
.ifbp-icon-Workbench-personalization:before {
content: "\e9fb";
}.ifbp-icon-folder-open:before {
content: "\e9df";
}
.ifbp-icon-phone-iphone:before {
content: "\e9e0";
}
.ifbp-icon-desktop-mac:before {
content: "\e9fc";
}
.ifbp-icon-computer:before {
content: "\e9fd";
}
.ifbp-icon-crop-landscape:before {
content: "\e9fe";
}
.ifbp-icon-crop-square:before {
content: "\e9ff";
}
.ifbp-icon-panorama-fish-eye:before {
content: "\ea00";
}
.ifbp-icon-taxi:before {
content: "\ea01";
}
.ifbp-icon-transportation-train:before {
content: "\ea02";
}
.ifbp-icon-flight:before {
content: "\ea03";
}
.ifbp-icon-remove-circle:before {
content: "\ea04";
}
.ifbp-icon-add-circle:before {
content: "\ea05";
}
.ifbp-icon-more-arrow:before {
content: "\ea06";
}
.ifbp-icon-playlist-add-check:before {
content: "\ea07";
}
.ifbp-icon-call-split:before {
content: "\ea08";
}

