@charset "UTF-8";
@import "common/var.css";
.ifbp-tile-info{
  line-height: 1;
}
.ifbp-tile-progress-bar__outer{
  border-radius: 100px;
  background-color: var(--color-light-gray);
  overflow: hidden;
  position: relative;
  vertical-align: middle;
}
.ifbp-tile-progress-bar__inner{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 2px 0 0 2px;
  background-color: var(--color-primary);
  text-align: right;
  border-radius: 100px;
  line-height: 1;
}
.tileLabel {
  font-size: 12px;
  display: inline-block;
  margin-top: 0.25rem;
  /*margin-top: 0.25rem;*/
}
.ifbp-tile-innerText {
  font-size: 12px;
  float: right;
  margin-top: 0.25rem;
}
.ifbp-tile-innerText1 {
  font-size: 12px;
}
